*{
	margin:0px;
	padding: 0px;
	text-align: center;
	font-family:"Prompt";
}

.header_background {
	background: #027E99;
	height: 115px;
}

h1{
	position: absolute;
	padding: 28px;
	font-family: "Baloo Paaji";
	color:white;
	margin-left: 0px;
}

span {
	color: #FF7673;
	font-family: "Baloo Paaji";
}

.menu {
	padding: 46px;
	color: white;
	font-size: small;
	text-decoration: none;
	display: inline-block;
}

.texto_del_studio {
	background:url(../img/img-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 505px;
}

.background_celeste1 {
	background: #ECF7FB;
	height: 505px;	
}

.background_celeste2 {
	background: #ECF7FB;
	height: 149px;	
}

.background_celeste3 {
	background: #ECF7FB;
	height: 216px;	
}
.transparencia {
	background:rgba(2,126,152,0.7) ;
	position: absolute;
	width: 730px;
	height: 350px;
	margin-top: 80px;
	margin-left: 65px;
}

.titulo_grande {
	color: #FF7673;
	font-family: "Baloo Paaji";
	font-size: 115px;
	text-align: center;
	padding-top: 49px;
}

.subtitulo{
	color:white;
	text-align: center;
	margin: auto;
	padding: 16px;
	font-style: italic;
	font-family:"Prompt"; 
}


.background_2{
	background: #027E99;
	height: 220px;
	width: 184px;
	margin:auto;
	margin-top: -14px;
	font-size: small;
}

.img_tales {
	max-height: 115px;
	padding-top:20px;
}

h3{
	color:#FF7673;
	text-align: center;
	padding-top:20px;
	font-family: "Baloo Paaji";
	margin-top: -4px;
}

.pilar {
	color:white;
	text-align: center;
	padding:20px 20px 0px 20px;
	font-family: "Prompt";
}

/*Section Conejos m치s grandes*/

.colorconejosmasgrandes{
	background-color: #027e99;
}

.conejo5{
	width: 517px;
	height: 300px;
	padding: 10px;
	padding-bottom: 0px;
	margin-left: 10px;
	margin-top: 10px;
}

.conejo6,.conejo3{
	width: 310px;
	height: 225px;
	margin-right: 27px;
}

.conejo3{
	margin-top: 15px;
}

.buscador{
    width: 92%;
    height: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 10px;
	border: none;
    border-radius: 10px;
    text-align: left;
}

.fondobuscador{
	background-color: #ecf7fb;
	width: 93%;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.fa{
	font-size: 15px;
	color: blue;
}

.circulo{
	background-color: white;
	border-radius: 50%;
	padding: 5px;
	width: 17px;
	height: 17px;
	display: inline-block;
	float: left;
	margin-right: 30px;
}

.redessociales{
	display: inline-block;
	float: left;
	margin-left: 60px;
}

.titulosrosas{
	color: #ff7673;
	font-family: "Baloo Paaji";
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.contenedorblanco1{
	background-color: #ecf7fb;
	margin-left: 27px;
	margin-right: 19px;
	margin-top: -7px;
	width: 517px;
}

.contenedorblanco2{
	background-color: #ecf7fb;
	margin-right: 23px;
	height: 170px;
	margin-top: -7px;
	width: 310px;
}

.contenedorblanco3{
	background-color: #ecf7fb;
	margin-left: 27px;
	margin-right: 20px;
	margin-top: -7px;
	width: 517px;
}

.contenedorblanco4{
	background-color: #ecf7fb;
	margin-right: 23px;
	height: 170px;
	margin-top: -6px;
	width: 310px;
}

.columnalargaderecha{
	height: 970px;
}

.columnalargaizquierda{
	height: 970px;
}

.video{
	width: 517px;
	height: 315px;
	margin-left: 10px;
}

.tale{
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: "Prompt";
	font-size: 13px;
	padding-left: 10px;
	padding-bottom: 15px;
	text-align: left;
}

.rule{
	margin-top: -3px;
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: "Prompt";
	font-size: 13px;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-top: 20px;
	text-align: left;
}

.shall{
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: "Prompt";
	font-size: 13px;
	padding-left: 10px;
	padding-bottom: 15px;
	text-align: left;
}

.you{
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: "Prompt";
	font-size: 13px;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 10px;
	text-align: left;
}

.col-offset-2{
	background-color: #ecf7fb;
	height: 970px;
}

.a침o{
	font-weight: bold;
	margin-top: 10px;
	margin-left: 30px;
}

.conejitosfinal{
	width: 110px;
	height: 80px;
	margin-top: 10px;
	margin-left: 26px;
	margin-right: 26px;
}

.colorfinal{
	background-color: #ecf7fb;
}


/*Fin section conejos m치s grandes*/

/*Inicio footer*/

.copy{
	background-color: #027e99;
	border-top: 3px solid #ff7673;
	height: 100px;
}

.copyright{
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
	font-family: "Baloo Paaji";
}

/*Fin footer*/

/*Inicio RESPONSIVE*/

@media only screen and (max-width : 479px) {

	h1{
		font-size: 25px;
	}

	.menu{
		padding: 2px;
	}

	.texto_del_studio{
		background-size: 100%;
		margin-top: -505px;
	}

	.transparencia{
		margin-left: 18px;
		margin-top: 20px;
		width: 86%;
		height: 190px;
	}

	.titulo_grande{
		max-width: 100%;
		font-size: 35px;
	}

	.menu{
		color: #027E99;
	}

	.conejo5{
		max-width: 90%;
		margin-left: 0px;
		height: 200px;
	}

	.contenedorblanco1,.contenedorblanco3{
		max-width: 90%;
		margin-left: 20px;
	}

	.titulosrosas{
		font-size: 18px;
	}

	.a침o{
		display: block;
		margin-left: 10px;
		width: 50px;
	}

	.tale{
		margin-left: 10px;
	}

	.video{
		max-width: 90%;
		margin-left: 5px;
	}

	.fondobuscador{
		margin: 0px auto 45px auto;
	}

	.conejo6{
		margin-right: 0px;
		max-width: 100%;
	}

	.contenedorblanco2{
		max-width: 100%;
		margin-left: 33px;
	}

	.conejo3{
		margin-top: 0px;
		margin-left: 28px;
	}

	.contenedorblanco4{
		margin-right: 0px;
		margin-left: 33px;
	}
}